.slideshow {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slideshow .slideshow_slide {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.slideshow .slideshow_slide.enter {
	left: 100%;
}

.slideshow .slideshow_slide.entering {
	transition: left 1.4s ease-in-out;
	left: 0;
}

.slideshow .slideshow_slide.active {
	z-index: 2;
	left: 0;
}

.slideshow .slideshow_slide.leaving {
	transition: left 1.4s ease-in-out;
	left: -100%;
}

.slideshow .slideshow_slide_image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.slideshow .slideshow_slide_title {
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
}
