#server_page {

}

#server_page .server_page_slideshow {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc( 100vh - 51px);
  background-color: #333;
}

#server_page .server_page_body {
  margin: 0 5vw;
}

#server_page .server_info_section_label {
  margin-bottom: 5px;
  color: #5D5D5D;
}

#server_page .server_info_blurb {
  line-height: 22px;
  font-size: 18px;
  letter-spacing: .4px;
}

#server_page .server_resources_link {
  font-size: 18px;
  margin-bottom: 6px;
}