#sco {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #222;
}

#sco .header {
  position: fixed;
  top: 0px;
  z-index: 5;
  width: 100vw;
  height: 6vw;
  box-sizing: border-box;
  padding-top: 30px;
  padding-right: 30px;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.6;
}

#sco .header .pcn_logo {
  float: right;
  height: 30px;

  animation: fadeIn ease-in-out 3s;
  -webkit-animation: fadeIn ease-in-out 3s;
  -moz-animation: fadeIn ease-in-out 3s;
  -o-animation: fadeIn ease-in-out 3s;
  -ms-animation: fadeIn ease-in-out 3s;

  cursor: pointer;
}

#sco .background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fadeIn ease-in-out 3s;
  -webkit-animation: fadeIn ease-in-out 3s;
  -moz-animation: fadeIn ease-in-out 3s;
  -o-animation: fadeIn ease-in-out 3s;
  -ms-animation: fadeIn ease-in-out 3s;
}

#sco .gradient_olverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: radial-gradient(circle, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 34%, rgba(0,0,0,1) 100%);
}

#sco .announcement_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  padding-top: 20vh;
  color: #FFF;

  animation: fadeIn ease-in-out 3s;
  -webkit-animation: fadeIn ease-in-out 3s;
  -moz-animation: fadeIn ease-in-out 3s;
  -o-animation: fadeIn ease-in-out 3s;
  -ms-animation: fadeIn ease-in-out 3s;
}

#sco .title {
  font-size: 72px;
  text-align: center;
  color: #FFF;
  text-shadow: 2px 2px 4px #aaaaaa99, -2px -2px 4px #aaaaaa99, 2px -2px 4px #aaaaaa99, -2px 2px 4px #aaaaaa99;
  letter-spacing: 1px;
}

#sco .soon {
  text-align: center;
  letter-spacing: 1.3px;
  color: #FFF;
  text-shadow: 2px 2px 3px #aaaaaa99, -2px -2px 3px #aaaaaa99, 2px -2px 3px #aaaaaa99, -2px 2px 3px #aaaaaa99;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
